html
  head
    title ES6 module loader test
  body
    h2 {{name}}
    
    input(ng-model="name", type="text")
    
    script(src="lib/traceur.js")
    script(src="lib/system.js")
    script(src="js/config.js")
    script(src="js/loader.js")
