html
  head
    title ES6 module loader test
  body
    h2 {{name}}
    
    input(ng-model="name", type="text")
    
    script(src="es6-shim.js")
    script(src="traceur.js")
    script(src="system.js")
    script(src="system.config.js")
    script(src="system.loader.js")
